{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Product Application{% endblock %}</title>
        {% block stylesheets %}
         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css">
         <!-- jQuery library -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

         <!-- Latest compiled JavaScript -->
         <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% endblock %}
        <style>
            .mainContent{
                margin-left: 20%;
            }
            .table-responsive{
                margin-right: 19%;
            }


          {% block style%}
            body{
                width: 100%;
                max-width: 1000vh;
                background-repeat: no-repeat;
                background-image: url("https://pixabay.com/static/uploads/photo/2014/08/29/07/29/sky-430627_960_720.jpg");
                background-size: cover;
                opacity: 0.8;
            }
            .startText{
                margin-top: 20%;
                margin-left:7%;
                color: white;
                width: 100%;
                font-family: verdana;
                font-size: 4em;
                z-index: +1;
            }
            .owners{
                color: white;
                z-index: +1;
                margin-left:90%;
                margin-top: 20%;
            }
            {% endblock %}

        </style>
    </head>
    
    <body>

         <nav class="navbar navbar-inverse navbar-static-top custom-navbar" role="navigation">
            <div class="container">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>
             <div class="navbar-header">
                 <a class="navbar-brand" rel="home" href="/" title="Help"> Projecte Symfony</a>
             </div>
             <!-- Non-collapsing right-side icons -->
             <ul class="nav navbar-nav navbar-right">
              <li>
                   <a href="/" class="fa fa-home"></a>
              </li>
             </ul>
             <!-- the collapsing menu -->
             <div class="collapse navbar-collapse navbar-left" id="navbar-collapse-1">
               <ul class="nav navbar-nav">
                   <li><a href="/selectAllUsers">Usuaris</a></li>
                   <li><a href="/selectAllMonitors">Monitors</a></li>
                   <li><a href="/selectAllClases">Clases</a></li>
                   <li><a href="/selectAllPistes">Pistes</a></li>
                   <li><a href="/selectAllReserves">Reserves</a></li>
               </ul>
             </div>
            <!--/.nav-collapse -->
            </div>
            <!--/.container -->
         </nav>

        <div id="content">
            <nav>
                {% block menu_aside %} {% endblock %}
            </nav>
            <main>
                <div class="mainContent">
                    {% block mainContent %}
                   <div class="startText"> Welcome to this website</div>
                        <div class="owners"> Design by <br>Jonatan luna <br>Kabaljit Singh </div>
                    {% endblock %}

                </div>
            </main>

        </div>

    </body>

</html>