{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block style%}
    .form{
        margin-left:10%;
    }
    .form-control{
    margin-bottom: 1%;
     width:70%;
     }
    /* we push the content down some and clean up the edges on mobile devices */
    @media (max-width: 767px) {
        .content {
            padding: 15px;
            margin-top: 100px;
        }
    }

    /* When we were on larger screen sizes we can show our vertical menu bar */
    @media (min-width: 768px) {
        /* clean up some of the default Bootstrap styles for panels in the menu */

        #menu-bar .panel {
            margin-bottom: 0;    margin-bottom: 0;

            border: none;
            border-radius: 0;
            -webkit-box-shadow: none;
            -box-shadow: none;
        }

        #navbar {
            float: left;
            width: 230px; /* You can adjust the width to your liking, just remember to also adjust the content margin below accordingly */
            height: 100%;
        }

        .content {
            margin-left: 300px; /* If you adjusted the width above you will need to adjust this as well */
            min-height: 100%;
        }

        .container {
         margin-left: 25px; /* We will add a little cushion to our content between the menu bar */
        }
    }
{% endblock %}
{% block menu_aside %}
 <div id="navbar" class="navbar navbar-inverse ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="navbar-brand" href="#" title="Home" rel="home">
                <h1 class="site-title">Monitor</h1>
            </a>
        </div>
        <<!-- Let's clear the float so the menu drops below the header -->
        <div class="clearfix"></div> <div class="collapse navbar-collapse"> <ul class="nav nav-stacked" id="menu-bar">
                <!-- Notice the "nav-stacked" class we added here -->
                <li>
                    <a href="/selectAllMonitors">Llistar tots els monitors</a>
                </li>
                <li>
                    <a href="/selectMonitor">Seleccionar un monitor</a>
                </li>
                <li>
                    <a href="/insertMonitor">Insertar nou monitor</a>
                </li>
                <li><a href="/updateMonitor">Modificar un monitor</a></li>
                

{% endblock %}

{% block mainContent %}
    <div class="form">
        <h3> {{title}} </h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
     </div>
{% endblock %}