{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Product Application{% endblock %}</title>
        {% block stylesheets %}
         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

         <!-- jQuery library -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

         <!-- Latest compiled JavaScript -->
         <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% endblock %}
        <style>
            .mainContent{
                margin-left: 20%;
            }
            .table-responsive{
                margin-right: 19%;
            }
          {% block style%}{% endblock %}
        </style>
    </head>
    
    <body>

         <nav class="navbar navbar-inverse navbar-static-top custom-navbar" role="navigation">
            <div class="container">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>
             <div class="navbar-header">
                 <a class="navbar-brand" rel="home" href="/" title="Help"> Projecte Symfony</a>
             </div>
             <!-- Non-collapsing right-side icons -->
             <ul class="nav navbar-nav navbar-right">
              <li>
                   <a href="#" class="fa fa-cog"></a>
              </li>
              <li>
                   <a href="#" class="fa fa-home"></a>
              </li>
             </ul>
             <!-- the collapsing menu -->
             <div class="collapse navbar-collapse navbar-left" id="navbar-collapse-1">
               <ul class="nav navbar-nav">
                   <li><a href="/selectAllUsers">Usuaris</a></li>
                   <li><a href="/selectAllMonitors">Monitors</a></li>
                   <li><a href="/selectAllClases">Clases</a></li>
                   <li><a href="/selectAllPistes">Pistes</a></li>
                   <li><a href="/selectAllReserves">Reserves</a></li>
               </ul>
             </div>
            <!--/.nav-collapse -->
            </div>
            <!--/.container -->
         </nav>

        <div id="content">
            <nav>
                {% block menu_aside %} {% endblock %}
            </nav>
            <main>
                <div class="mainContent">
                    {% block mainContent %}{% endblock %}
                </div>
            </main>

        </div>

    </body>

</html>