{% extends 'usuari/form.html.twig' %}

{% block mainContent %}
    <div class="container">
        <h2>Llista tots les clases de l'estudiant {{ usuari.nom }}</h2>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Monitor</th>
                    <th>Descripció</th>
                </tr>
                </thead>
                <tbody>
                {% for clase in clases %}
                    <tr>
                        <td>{{ clase.nom }}</td>
                        <td>{{ clase.monitor.getNom() }}</td>
                        <td>{{ clase.descripcio }}</td>
                        <td><a  class="fa fa-remove" href="/removeUsuariclase/{{usuari.id}}/{{clase.id}}"></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
