{# app/Resources/views/reserva/form.html.twig #}
{% extends 'base.html.twig' %}


{% block style%}
	.col-sm-4{
				margin-right: 1%;
			}
    /* we push the content down some and clean up the edges on mobile devices */
    @media (max-width: 767px) {
        .content {
            padding: 15px;
            margin-top: 100px;
        }
    }

    /* When we were on larger screen sizes we can show our vertical menu bar */
    @media (min-width: 768px) {
        /* clean up some of the default Bootstrap styles for panels in the menu */

        #menu-bar .panel {
            margin-bottom: 0;    margin-bottom: 0;

            border: none;
            border-radius: 0;
            -webkit-box-shadow: none;
            -box-shadow: none;
        }

        #navbar {
            float: left;
            width: 230px; /* You can adjust the width to your liking, just remember to also adjust the content margin below accordingly */
            height: 100%;
        }

        .content {
            margin-left: 300px; /* If you adjusted the width above you will need to adjust this as well */
            min-height: 100%;
        }

        .container {
         margin-left: 25px; /* We will add a little cushion to our content between the menu bar */
        }
    }
{% endblock %}
{% block menu_aside %}
 <div id="navbar" class="navbar navbar-inverse ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="navbar-brand" href="#" title="Home" rel="home">
                <h1 class="site-title">Reserva</h1>
            </a>
        </div>
        <<!-- Let's clear the float so the menu drops below the header -->
        <div class="clearfix"></div> <div class="collapse navbar-collapse"> <ul class="nav nav-stacked" id="menu-bar">
                <!-- Notice the "nav-stacked" class we added here -->
                <li>
                    <a href="/selectAllReserves">Llistar totes les reserves</a>
                </li>
                <li>
                    <a href="/insertReserva">Insertar nova reserva</a></li>
                <li>
                    <a href="/selectReserva">Seleccionar una reserva</a>
                </li>
                <li><a href="/updateReserva">Modificar una reserva</a></li>
                <li>
                    <a href="/removeReserva">Eliminar una reserva</a>
                </li>

{% endblock %}

{% block mainContent %}
    <h3> {{title}} </h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

	
	<div class="container">
	  <h2>Estat de les pistes</h2>
	  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Veure estat</button>
	  <div id="demo" class="collapse">
	    
		  <div class="container">
		  	<div class="row">
		  	 	{% for pista in pistes %}
		    		<div class="col-sm-4" style="background-color:lavender;">
		    			<h5>Numero de Pista: {{pista.getId()}}</h5>
		    			{% if pista.estat==0 %}
		    				<p>Estat: Lliure</p>
		    			{% else %}
              				<p>Estat: Ocupat</p>
        				{% endif %}
		    		</div>
	    		{% endfor %}
	  		</div>
	  	  </div>

	  </div>
	</div>

{% endblock %}