{# app/Resources/views/usuari/content.html.twig #}
{% extends 'base.html.twig' %}

{% block style%}

    /* we push the content down some and clean up the edges on mobile devices */
    @media (max-width: 767px) {
        .content {
            padding: 15px;
            margin-top: 100px;
        }
    }

    /* When we were on larger screen sizes we can show our vertical menu bar */
    @media (min-width: 768px) {
        /* clean up some of the default Bootstrap styles for panels in the menu */

        #menu-bar .panel {
            margin-bottom: 0;    margin-bottom: 0;

            border: none;
            border-radius: 0;
            -webkit-box-shadow: none;
            -box-shadow: none;
        }

        #navbar {
            float: left;
            width: 230px; /* You can adjust the width to your liking, just remember to also adjust the content margin below accordingly */
            height: 100%;
        }

        .content {
            margin-left: 300px; /* If you adjusted the width above you will need to adjust this as well */
            min-height: 100%;
        }

        .container {
         margin-left: 25px; /* We will add a little cushion to our content between the menu bar */
        }
    }
{% endblock %}

{% block menu_aside %}
 <div id="navbar" class="navbar navbar-inverse ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="navbar-brand" href="#" title="Home" rel="home">
                <h1 class="site-title">Usuaris</h1>
            </a>
        </div>
        <<!-- Let's clear the float so the menu drops below the header -->
        <div class="clearfix"></div> <div class="collapse navbar-collapse"> <ul class="nav nav-stacked" id="menu-bar">
                <!-- Notice the "nav-stacked" class we added here -->
                <li>
                    <a href="/selectAllUsers">Llistar tots els usuaris</a>
                </li>
                <li>
                    <a href="/selectUsuari">Seleccionar un usuari</a></li>
                <li>
                    <a href="/insertUsuari">Insertar nou usuari</a></li>
                <li>
                    <a href="/updateUsuari">Modificar un usuari</a>
                </li>

                <li>
                    <a href="/removeUsuari">Eliminar un usuari</a>
                </li>

{% endblock %}

{% block mainContent %}

<div class="container">
  <h2>Llista d'usuaris inscrits</h2>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th><a href="/selectAllUsers/1">id</a></th>
                <th><a href="/selectAllUsers/2">nom</a></th>
                <th><a href="/selectAllUsers/3">cognom1</a></th>
                <th><a href="/selectAllUsers/4">cognom2</a></th>
                <th><a href="/selectAllUsers/5">edat</a></th>
                <th><a href="/selectAllUsers/6">dni</a></th>
                <th><a href="/selectAllUsers/7">email</a></th>
                <th><a href="/selectAllUsers/8">telefon</a></th>
                <th><a href="/selectAllUsers/9">inscripcio</a></th>
                <th><a href="/selectAllUsers/10">quota</a></th>
              </tr>
            </thead>
            <tbody>
              {% for usu in usuari %}
                <tr>
                    <td>{{ usu.id }}</td>
                    <td>{{ usu.nom }}</td>
                    <td>{{ usu.cognom1 }}</td>
                    <td>{{ usu.cognom2 }}</td>
                    <td>{{ usu.edat }}</td>
                    <td>{{ usu.dni }}</td>
                    <td>{{ usu.email }}</td>
                    <td>{{ usu.telefon }}</td>
                    <td>{{ usu.inscripcio|date("m/d/Y")}}</td>
                    <td>{{ usu.quota }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div> 
</div>

{% endblock %}