{% extends 'clase/form.html.twig' %}

{% block mainContent %}
    <div class="container">
        <h2>Llista tots els alumnes de la clase {{ clase.nom }} <span style="background: #23527c; border-radius: 10%; color: white;  padding:0.5%; margin-left: 30%; text-decoration: none;"> <a class="add" style="color:white;"  href="/matricula/{{clase.id}}"> add</a></span></h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th><a href="/selectAllUsers/2">nom</a></th>
                    <th><a href="/selectAllUsers/3">cognom1</a></th>
                    <th><a href="/selectAllUsers/4">cognom2</a></th>
                    <th>edat</th>
                    <th>email</th>
                    <th>telefon</th>
                </tr>
                </thead>
                <tbody>
                {% for usuari in usuaris %}
                    <tr >
                        <td >{{ usuari.id }}</td>
                        <td>{{ usuari.nom }}</td>
                        <td>{{ usuari.cognom1 }}</td>
                        <td>{{ usuari.cognom2 }}</td>
                        <td>{{ usuari.edat }}</td>
                        <td>{{ usuari.email }}</td>
                        <td>{{ usuari.telefon }}</td>
                        <td><a  class=" fa fa-remove" href="/removeUsuariMatricula/{{clase.id}}/{{usuari.id}}"></a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}